.wrapper {
    display: flex;
    margin: 10px;
}

.middlePane {
    position: relative;
    width: 80vw;
    height: 800px;
    border: 2px solid rgba(73,89,172, 0.3);
    border-radius: 5px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.drawingPad {
    position: absolute;
    left: 0;
    top: 0;
    width: 80vw;
    height: 800px;
    background-color: white;
}

.leftPane {
    width: 10vw;
    border: 2px solid rgba(73,89,172, 0.3);
    margin-right: 5px;
    border-radius: 5px;
}

.dot {
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.small {
    height: 10px;
    width: 10px;
}

.medium {
    height: 20px;
    width: 20px;
}

.large {
    height: 30px;
    width: 30px;
}

.margin10 {
    margin: 10px;
}

.padding10 {
    padding: 10px;
}

.selected {
    background: #4959Ac;
}

.mainColor {
    color: rgb(73,89,172, 0.7);
}

.notSelected {
    background: none;
}

.marginB6 {
    margin-bottom: 6px;
}

.marginB4 {
    margin-bottom: 4px;
}

.cursorP {
    cursor: pointer;
}